<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/index_style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Запрос погоды</h1>
    <form id="weatherForm">
        <div id="inputContainer">
            <input type="text" name="city" placeholder="Введите название города">
        </div>

        <div id="buttonContainer">
            <button type="button" id="getWeather">Получить погоду</button>
            <button type="button" id="viewHistory">История запросов</button>
        </div>
    </form>

    <!-- Элемент для отображения данных о погоде и истории запросов -->
    <div id="weatherResult"></div>
    <script src="{{ url_for('static', path='/js/script.js') }}"></script>

</body>
</html>
